@import "../../assets/scss/custom.scss";

.home-create {
  background-color: white;
  min-width: 500px;
  width: 45%;
  display: inline-block;
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  margin-top: 1.5rem;
  box-shadow: 0rem 0rem 0.8rem rgba(0, 0, 0, 0.25);
}
